@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Inter;
}

body {
  margin: 0;
  min-height: 150vh;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
}

.content {
  padding: 20px;
}

header h2 {
  color: white;
}

section {
  margin: 50px 0px 100pxpx 0px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

section:last-child {
  border-bottom: none;
}

section h3 {
  font-size: 28px;
}

section li {
  font-size: 18px;
}

#expectations {
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  overflow: hidden;
}

footer h1 {
  color: white;
  transform: scaleX(3.5) scaleY(2);
  transform-origin: left;
}

.site-map {
  display: flex;
  flex-direction: column;
  padding: 50px 100px 50px 50px;
  gap: 10px;
  align-items: flex-end;
}

.site-map {
  color: white;
  display: flex;
  justify-content: center;
}

.site-map a {
  color: white;
}

/* MEdia */

@media screen and (min-width: 801px) and (max-width: 1050px) {
  footer h1 {
    color: white;
    transform: scaleX(2.35) scaleY(1.4);
    transform-origin: left;
  }

  .site-map {
    padding: 25px 70px 25px 25px;
  }

  .header {
    font-size: smaller;
  }

  section h3 {
    font-size: 23px;
  }

  section li {
    font-size: 15px;
  }
}

@media screen and (min-width: 501px) and (max-width: 801px) {
  footer h1 {
    color: white;
    transform: scaleX(1.76) scaleY(1.2);
    transform-origin: left;
  }

  .site-map {
    padding: 25px 70px 25px 25px;
  }

  .header {
    font-size: smaller;
  }

  section h3 {
    font-size: 23px;
  }

  section li {
    font-size: 15px;
  }
}

@media screen and (min-width: 376px) and (max-width: 459px) {
  body {
    min-height: 100vh;
  }

  footer {
    padding-bottom: 15px;
  }
  footer h1 {
    color: white;
    transform: scaleX(2.4) scaleY(1.3);
    transform-origin: left;
    font-size: small;
  }

  .site-map {
    padding: 15px 30px 25px 25px;
    font-size: 12px;
  }

    .site-map-header {
    margin: 10px 0px;
  }

  .site-map a{
     font-size: 10px;
  }

  .header h2 {
    font-size: 13px;
  }

  section h3 {
    font-size: 13px;
  }

  section li {
    font-size: 11px;
  }
}
@media screen and (min-width: 460px) and (max-width: 500px) {
  body {
    min-height: 100vh;
  }

  footer {
    padding-bottom: 15px;
  }
  footer h1 {
    color: white;
    transform: scaleX(2.7) scaleY(1.3);
    transform-origin: left;
    font-size: small;
  }

  .site-map {
    padding: 15px 30px 25px 25px;
    font-size: 12px;
  }

    .site-map-header {
    margin: 10px 0px;
  }

  .site-map a{
     font-size: 10px;
  }

  .header h2 {
    font-size: 13px;
  }

  section h3 {
    font-size: 13px;
  }

  section li {
    font-size: 11px;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  body {
    min-height: 100vh;
  }

  footer {
    padding-bottom: 10px;
    overflow: hidden;
  }

  footer h1 {
    color: white;
    transform: scaleX(2.5) scaleY(1.25);
    transform-origin: left;
    font-size: 11px;
  }

  .site-map {
    padding: 12px 25px 20px 20px;
    font-size: 11px;
    gap: 8px;
  }

    .site-map-header {
    margin: 10px 0px;
  }

  .site-map a{
     font-size: 9px;
  }

  .header h2 {
    font-size: 12px;
  }

  section h3 {
    font-size: 12px;
  }

  section li {
    font-size: 10px;
  }

  .content {
    padding: 15px;
  }
}


@media screen and (min-width: 200px) and (max-width: 320px) {
  body {
    min-height: 100vh;
  }

  footer {
    padding-bottom: 10px;
    overflow: hidden;
  }

  footer h1 {
    color: white;
    transform: scaleX(2.1) scaleY(1.25);
    transform-origin: left;
    font-size: 11px;
  }

  .site-map-header {
    margin: 10px 0px;
  }

  .site-map a{
     font-size: 8px;
  }

  .site-map {
    padding: 12px 25px 20px 20px;
    font-size: 11px;
    gap: 8px;
  }

  .header h2 {
    font-size: 12px;
  }

  section h3 {
    font-size: 12px;
  }

  section li {
    font-size: 10px;
  }

  .content {
    padding: 15px;
  }
}